@tailwind base;
@tailwind components;
@tailwind utilities;

.badges-scroll {
    overflow-x: scroll;
    scrollbar-width: thin;          /* For Firefox */
    scrollbar-color: #888 #f1f1f1;  /* For Firefox */
}

/* Webkit Browsers (Chrome, Safari, Edge) */
.badges-scroll::-webkit-scrollbar {
    height: 8px;  /* Height of the horizontal scrollbar */
}

.badges-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Background of the scrollbar track */
}

.badges-scroll::-webkit-scrollbar-thumb {
    background-color: #888;  /* Color of the scrollbar handle */
    border-radius: 10px;     /* Rounded corners of the scrollbar handle */
}

.badges-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #555;  /* Color of the scrollbar handle when hovered */
}

/* Custom styles for navigation links */
.nav-link {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-bottom: 8px;
    transition: color 0.5s ease;
    color: #374151;
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: #1f2937;
}

.nav-link.active {
    color: #1f2937;
}

/* Underline styles */
.nav-link:hover::after,
.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #374151;
    transition: width 0.5s ease, background-color 0.5s ease;
}








