@page "/credentials"
@using MediatR
@inject IMediator Mediator
@rendermode InteractiveServer
@* @using Blocktrust.CredentialBadges.Builder.Commands.CheckAgentHealth *@


<PageTitle>Credentials</PageTitle>

<h1>Credentials</h1>