@page "/profile"
@inject NavigationManager NavigationManager
@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Profile> Logger
@using Blocktrust.CredentialBadges.Builder.Data
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@attribute [Authorize]


@rendermode InteractiveServer



<h2 class="text-2xl font-bold">Profile</h2>
<p>Manage your profile here.</p>

<button class="btn btn-danger" @onclick="LogoutUser">
    <span class="oi oi-power-standby" aria-hidden="true"></span> Logout
</button>

@code {
    private async Task LogoutUser()
    {
        try
        {
            await SignInManager.SignOutAsync();
            Logger.LogInformation("User logged out.");
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "An error occurred during logout.");
        }
    }
}