@page "/schemas"
@using MediatR
@inject IMediator Mediator
@rendermode InteractiveServer
@* @using Blocktrust.CredentialBadges.Builder.Commands.CheckAgentHealth *@


<PageTitle>Schemas</PageTitle>

<h1>Schemas</h1>