@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for navigation links */
.nav-link {
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s ease;
    color: #374151;
    font-weight: 500;
    text-decoration: none;
}

.nav-link:hover {
    color: #1f2937;
}

.nav-link.active {
    color: #1f2937;
}

/* Underline styles */
.nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #374151;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

/*For small devices*/
@media (max-width: 768px) {
    .nav-link {
        padding-bottom: 0;
    }

    .nav-link::after {
        display: none;
    }
    .nav-link.active {
        color: #0f0f39;
    }
}
/* Default styles */
@layer base {
    body {
        @apply font-sans;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-museo;
    }

    button, .btn {
        @apply font-museo;
    }
}

/* Custom utility classes for easy overrides */
@layer utilities {
    .font-museo {
        font-family: museo, serif;
    }

    .font-museo-sans {
        font-family: museo-sans, sans-serif;
    }
}





