@if (!string.IsNullOrEmpty(DisplayMessage))
{
    var isError = DisplayMessage.StartsWith("Error");
    <div class="@(isError ? "bg-red-100 border-red-500 text-red-700" : "bg-green-100 border-green-500 text-green-700") border-l-4 p-4 mb-4 rounded-r" role="alert">
        <p class="font-bold">@(isError ? "Error" : "Success")</p>
        <p>@DisplayMessage</p>
    </div>
}

@code {
    private string? messageFromCookie;

    [Parameter] public string? Message { get; set; }

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    private string? DisplayMessage => Message ?? messageFromCookie;

    protected override void OnInitialized()
    {
        messageFromCookie = HttpContext.Request.Cookies[IdentityRedirectManager.StatusCookieName];

        if (messageFromCookie is not null)
        {
            HttpContext.Response.Cookies.Delete(IdentityRedirectManager.StatusCookieName);
        }
    }
}