@inherits LayoutComponentBase
@layout MainLayout



<AuthorizeView Roles="adminRole">
    <div class="min-h-screen flex flex-col md:flex-row">
        <AdminNavigation/>
        <div class="flex-1 p-6 bg-gray-100 mt-16">
            @Body
        </div>
    </div>
</AuthorizeView>
