@inherits LayoutComponentBase
@layout MainLayout

@inject NavigationManager NavigationManager

@code {
    string currentPath = string.Empty;

    protected override void OnInitialized()
    {
        currentPath = NavigationManager.Uri;
    }
}

<div class="flex h-screen">
    <!-- Sidebar -->
    <div class="bg-slate-100 w-64 p-4">
        <nav>
            <ul>
                <li class="mb-2">
                    <a href="/credentials" class="flex items-center p-2 text-slate-400 @((currentPath.Contains("/credentials") && !currentPath.Contains("/pending") && !currentPath.Contains("/approved") && !currentPath.Contains("/declined")) ? "bg-slate-400 text-white" : "hover:bg-slate-400 hover:text-white")">
                        <span class="material-icons mr-2">list</span> All
                    </a>
                </li>
                <li class="mb-2">
                    <a href="/credentials/pending" class="flex items-center p-2 text-slate-400 @((currentPath.Contains("/pending")) ? "bg-slate-400 text-white" : "hover:bg-slate-400 hover:text-white")">
                        <span class="material-icons mr-2">hourglass_empty</span> Pending
                    </a>
                </li>
                <li class="mb-2">
                    <a href="/credentials/approved" class="flex items-center p-2 text-slate-400 @((currentPath.Contains("/approved")) ? "bg-slate-400 text-white" : "hover:bg-slate-400 hover:text-white")">
                        <span class="material-icons mr-2">check_circle</span> Approved
                    </a>
                </li>
                <li class="mb-2">
                    <a href="/credentials/declined" class="flex items-center p-2 text-slate-400 @((currentPath.Contains("/declined")) ? "bg-slate-400 text-white" : "hover:bg-slate-400 hover:text-white")">
                        <span class="material-icons mr-2">highlight_off</span> Declined
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    
    <!-- Main content -->
    <div class="flex-1 p-4">
        @Body <!-- Render the child content here -->
    </div>
</div>
