@inherits LayoutComponentBase
@layout MainLayout


<div class="flex flex-col md:flex-row h-screen">

    <CredentialsNavigation/>
    <!-- Main content -->
    <div class="flex-1 p-4 overflow-auto">
        @Body
    </div>
</div>
