@inherits LayoutComponentBase
@layout MainLayout


<div class="min-h-screen flex flex-col md:flex-row">

    <CredentialsNavigation/>
    <!-- Main content -->
    <div class="flex-1 p-4 overflow-auto mt-16">
        @Body
    </div>
</div>
