@inherits LayoutComponentBase
@layout MainLayout

<div class="min-h-screen flex flex-col">
    <hr class="w-full border-t border-gray-300" />
    <div class="flex flex-col md:flex-row flex-grow">
        <CredentialsNavigation/>
        <!-- Main content -->
        <div class="flex-1 p-4 overflow-auto mt-0">
            @Body
        </div>
    </div>
</div>