@inherits LayoutComponentBase

<div class="min-h-screen flex flex-col">
    <!-- Top Navigation -->
    <nav class="bg-white text-slate-700 p-4 flex justify-end items-center ">
        <div class="flex items-center space-x-8">
            <NavLink href="/new-did" class="nav-link gap-1" Match="NavLinkMatch.All">
                <span class="material-icons">add_circle_outline</span>
                <span>New Did</span>
            </NavLink>
            <NavLink href="/connections" class="nav-link gap-1" Match="NavLinkMatch.All">
                <span class="material-icons">link</span>
                <span>Connections</span>
            </NavLink>
            <NavLink href="/credentials" class="nav-link gap-1" Match="NavLinkMatch.All">
                <span class="material-icons">badge</span>
                <span>Credentials</span>
            </NavLink>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="flex-grow p-4">
        @Body
    </div>
</div>