@inherits LayoutComponentBase




<div class="min-h-screen flex flex-col">
    <!-- Top Navigation -->
    <TopNavigation/>
    <!-- Main Content -->
    <div class="flex-grow p-0">
        @Body
    </div>
</div>

