@page "/admin/requests/declined"
@using Blocktrust.CredentialBadges.Builder.Components.Layout
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@layout AdminLayout

<h2 class="text-2xl font-bold">Declined Requests</h2>
<p>Manage declined requests here.</p>