@page "/admin/requests"
@using Blocktrust.CredentialBadges.Builder.Components.Layout
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@layout AdminLayout

<h2 class="text-2xl font-bold">Requests</h2>
<p>Manage all requests here.</p>