@page "/"

<PageTitle>Home</PageTitle>

<h1>This application contains the code to paste a credential and to create the snippet</h1>
<h1>It also contains the code to display the verification page</h1>
