@page "/"

<PageTitle>Home</PageTitle>
<p class="font-xl bg-slate-500 m-2 font-serif text-[red]">Test </p>
<p class="text-yellow-400 text-sm">Test Text </p>

<span class="material-symbols-outlined">content_copy</span>