@page "/"

<PageTitle>Blocktrust Badges</PageTitle>

<div class="flex flex-col items-center justify-center min-h-[80vh] text-center p-4">
    <h1 class="text-slate-700 font-light mb-6 text-5xl sm:text-6xl">blocktrust badges</h1>
    <p class="text-slate-600 mb-8 max-w-md text-xl">
        Embed digital credentials on any website.
    </p>
    <a href="/credentialinput" class="btn text-slate-500 hover:text-slate-700">Get Started</a>
</div>