@page "/verifier/{snippedId:Guid}"
@rendermode InteractiveServer

<PageTitle>Verifier</PageTitle>

<h1>Verifier Page</h1>

<p>A user will be redirected to this page, if he clicks on a embedded Credential</p>

@if (SnippedId is not null)
{
 
}

@code {
 [Parameter] public Guid? SnippedId { get; set; }
 
}