@page "/verifier"
@rendermode InteractiveServer

<PageTitle>Verifier</PageTitle>

<h1>Verifier Page</h1>

<p>A user will be redirected to this page, if he clicks on a embedded Credential</p>

@code {

}