@rendermode InteractiveServer

<nav class="bg-[#334054] shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between items-center">
            <div class="flex space-x-7">
                <div>
                    <a href="/" class="flex items-center py-3 px-2">
                        <span class="font-semibold text-white text-md">BlocktrustBadges</span>
                    </a>
                </div>
            </div>
            <div class="hidden md:flex items-center space-x-4">
                <NavLink href="/credentialinput" class="py-3 px-2 text-white hover:text-gray-300 transition duration-300" 
                         activeClass="text-yellow-500">
                    Generate Snippet
                </NavLink>
            </div>
            <div class="md:hidden flex items-center">
                <button class="outline-none mobile-menu-button">
                    <svg class="w-6 h-6 text-white"
                         fill="none"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         stroke-width="2"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="hidden mobile-menu">
        <ul>
            <li><NavLink href="/credentialinput" class="block text-sm px-2 py-4 text-white hover:bg-gray-700 transition duration-300" 
                         activeClass="bg-gray-800">
                Generate Snippet
            </NavLink></li>
        </ul>
    </div>
</nav>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JSRuntime.InvokeVoidAsync("initMobileMenu");
        }
    }
}